<div class="create-otp-container">
    <h1>One Time Password(OTP) Generator</h1>
   
    <form  id="createOtpForm">
        <span class="success-message"></span>
        <span class="error-message"></span>
        <label for="Email">Email</label>
        <input type="email" name="email" id="">
        <button type="submit">Generate OTP</button>
    </form>
</div>