<div class='container'>
	<h1>One Time Password(OTP) Generator</h1>

	<form id='createOtpForm'>
		<span class='success-message'></span>
		<span class='error-message'></span>
		<label for='Email'>Email</label>
		<input
			type='text'
			pattern='[^@\s]+@[^@\s]+'
			title='Invalid email address'
			name='email'
			required
		/>
		<button type='submit'>Generate OTP</button>
	</form>
	<div class='resend-otp-container'>
		<span>Did not receive OTP ?</span>
		<button id='resend-otp-btn'>Resend OTP</button>
	</div>
	<a href='https://jacqueline-8080.entrostat.dev/verify-otp'><span
			class='emoji'
		>👉</span>
		Verify OTP</a>
</div>