<div class='container'>
	<h1>One Time Password(OTP) Verification</h1>
	<form id='verifyOtpForm'>
		<span class='success-message'></span>
		<span class='error-message'></span>
		<label for='email'>Email</label>
		<input
			type='text'
			pattern='[^@\s]+@[^@\s]+'
			title='Invalid email address'
			name='email'
			required
		/>
		<label for='otp'>OTP</label>
		<input type='text' name='otp' required />
		<button type='submit' id='action-btn' data-action='verify'>
			<span id='verify-otp-btn'>Verify OTP</span>
			<span id='resend-otp-btn'>Resend OTP</span>
		</button>
	</form>
	<a href="https://jacqueline-8080.entrostat.dev"> <span class="emoji">👈</span> Generate OTP</a>
</div>