<h1>One Time Password(OTP) Verification</h1>
<form id="verifyOtpForm">
    <span class="success-message"></span>
    <span class="error-message"></span>
    <label for="email">Email</label>
    <input type="email" name="email">
     <label for="otp">OTP</label>
    <input type="text" name="otp">
    <button type="submit">Verify OTP</button>
</form>