@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container,.container-secondary{
  max-width: 90%;
  margin: 0rem auto;
  font-size: 0.9rem;
}

.container-secondary {
  background-color: whitesmoke;
  padding: 1em;
}

@media only screen and (min-width: 1025px) {
  .container-secondary {
    max-width: 70%;
    min-height: 75vh;
  }
}

span.success-message, span.error-message  {
  font-size: small;
  font-weight: 500;
}

span.error-message {
  color: crimson;
}